* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.grid-container {
    display: grid;
    width: 800px;
    height: 800px;
}
.grid-element {
    background-color: blueviolet;
    border: 1px solid green;
    border-radius: 5px;
}
