* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(61, 61, 61);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.grid-container {
    display: grid;
    width: 800px;
    height: 800px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.grid-element {
    background-color: #ffffff;
}
.change-background {
    background-color: steelblue;
}
